.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-item {
  list-style: none;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
  transition: 250ms ease;
}

.gallery-image:hover {
  transform: scale(1.044);
}

.simple-lightbox {
  background-color: rgba(46, 47, 66, 0.8);
}

.simple-lightbox .sl-prev,
.simple-lightbox .sl-next,
.simple-lightbox .sl-close,
.simple-lightbox .sl-counter {
  color: #fff !important;
}
